@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
       url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
       url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
       url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Reey";
  src: url("../fonts/Reey-Regular.woff2") format("woff2"),
       url("../fonts/Reey-Regular.woff") format("woff");
}

html, body, div, span, img, h1, h2, h3, p, a, ul, li, form, input, button, section, header, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
:focus { outline: none; }
body { line-height: 1.5; }
ol, ul { list-style: none; }
html {
  height: 100%;
  font-size: 17px;
  font-family: 'OpenSans';
  font-weight: 400;
  color: #fff;
}
a { text-decoration: none; cursor: pointer; }
a:hover, a:focus, a:active { opacity: .6; }
img {
  border: 0;
  vertical-align: middle;
  object-fit: contain;
}
form, button, input, select { margin: 0; font-size: 100%; vertical-align: middle; }
button, select { text-transform: none; }
button, input[type="button"], input[type="submit"] { cursor: pointer; }

.wrapper {
  max-width: 1424px;
  margin: 0 auto;
  padding: 0 8px;
}
.brown-button {
  display: inline-block;
  padding: 20px 70px;
  font-size: 23px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid #343434;
  border-radius: 40px;
  background: #343434;
}

.header {
  position: relative;
  min-height: 100vh;
  background: url("../img/bg.jpg") center/cover no-repeat;
}
.header_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 45px;
}
.top_nav_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_menu li { margin-left: 55px; }
.top_nav_menu a {
  color: #fff;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.8px;
}
.top_nav_menu a:hover,
.top_nav_menu a:focus,
.top_nav_menu a:active {
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}
.logo a:hover,
.header__logo a:hover,
.header__logo a:focus,
.header__logo a:active { opacity: 1; }

.search_container {
  position: relative;
  margin: 0 27px 0 56px;
}
.header_input {
  width: 183px;
  height: 51px;
  border-radius: 35px;
  padding: 0 65px 0 8px;
}
.search__icon {
  position: absolute;
  top: 12px;
  right: 34px;
  width: 30px;
  height: 30px;
}
.search__icon img { width: 100%; height: 100%; }

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__left-cont {
  flex: 0 1 50%;
  margin-left: 80px;
}
.header__logo {
  margin-bottom: 40px;
  width: 140px;
  height: 110px;
}
.header__logo img { width: 100%; height: 100%; }
.header__slogan {
  margin-bottom: 100px;
  font-family: 'Reey';
  font-size: 92px;
  text-shadow: 0 5px 5px rgba(84, 82, 79, 0.22);
}
.header__descr {
  max-width: 450px;
  margin-bottom: 60px;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 4.61px;
}
.header__button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px 30px;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  color: #2e3034;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 35px;
}
.header__text {
  max-width: 450px;
  margin-bottom: 25px;
  font-size: 21px;
  font-style: italic;
  letter-spacing: .96px;
}
.header__right-cont {
  flex: 0 1 50%;
  position: relative;
  height: 60vw;
}
.header__hero-cont {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 60vw;
  max-width: 900px;
  max-height: 900px;
  padding-top: 150px;
}
.header__hero-cont img { width: 100%; height: 100%; }
.header__sub {
  position: absolute;
  right: 0;
  bottom: -175px;
}

.menu { text-align: center; }
.menu__title {
  margin: 60px 0;
  font-family: "Reey";
  font-size: 75px;
  color: #222328;
}
.menu__subtitle {
  max-width: 900px;
  margin: 0 auto 70px;
  font-size: 27px;
  color: #2f3135;
}
.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.menu__button { margin-bottom: 40px; }
.menu-card {
  width: 340px;
  margin: 20px;
}
.menu-card__img {
  width: 320px;
  height: 320px;
  margin-bottom: 40px;
}
.menu-card__img img { width: 100%; height: 100%; object-fit: contain; }
.menu-card__title,
.menu-card__text {
  color: #343434;
  text-align: left;
}
.menu-card__title {
  margin-bottom: 8px;
  font-size: 29px;
  font-weight: 700;
}
.menu-card__text {
  margin-bottom: 8px;
  font-size: 23px;
}

.about {
  text-align: center;
  background-color: #27292c;
}
.about__wrapper { max-width: 1100px; }
.about__title {
  font-family: "Reey";
  font-size: 75px;
  padding: 80px 0 60px;
}
.about__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.about__card {
  padding: 20px;
  font-family: "Montserrat";
  font-size: 17px;
  flex: 0 1 50%;
  text-align: left;
}
.about__button {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #27292c;
  border: 1px solid #e8e9e9;
  background-color: #e8e9e9;
  border-radius: 25px;
  margin-bottom: 60px;
  padding: 10px 50px;
}

.discount__wrapper { max-width: 1300px; }
.disc-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 20px;
}
.disc-card__left { flex: 0 1 50%; }
.disc-card__right { flex: 0 1 50%; }
.disc-card__img {
  width: 49vw;
  height: 49vw;
  max-width: 680px;
  max-height: 680px;
}
.disc-card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.disc-card__title {
  color: #27292c;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.2;
}
.disc-card__text {
  color: #27292c;
  font-size: 29px;
  margin-bottom: 35px;
  line-height: 1.2;
}

.pizza {
  background: url("../img/list3.png") center center no-repeat,
              url("../img/bg.jpg") center center no-repeat;
  background-size: contain, cover;
  text-align: center;
}
.pizza__wrapper { max-width: 1000px; }
.pizza__title {
  color: #f8f6f1;
  font-family: 'Reey';
  font-size: 58px;
  padding-top: 125px;
  margin-bottom: 50px;
}
.pizza__subtitle {
  color: #f8f6f1;
  font-family: 'Montserrat';
  font-size: 25px;
  max-width: 720px;
  margin: 0 auto;
}
.pizza__hero-cont {
  height: 45vw;
  position: relative;
}
.pizza__hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 60vw;
  max-width: 1015px;
  max-height: 860px;
}
.pizza__hero img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.advantages { text-align: center; }
.advantages__wrapper { max-width: 1130px; }
.advantages__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 170px 0;
}
.advantages__text {
  margin: 0 auto 40px;
  color: #3f3f3f;
  font-weight: 600;
  font-size: 25px;
  max-width: 790px;
  line-height: 1.2;
}
.advantages__subtext {
  margin: 0 auto 180px;
  color: #3f3f3f;
  font-size: 21px;
  font-weight: 700;
  max-width: 790px;
}
.adv-card { max-width: 332px; }
.adv-card__title {
  color: #393939;
  font-family: 'Reey';
  font-size: 42px;
  margin-bottom: 20px;
}
.adv-card__text {
  color: #333d42;
  font-size: 19px;
  text-align: left;
  margin-bottom: 30px;
}

.contact {
  position: relative;
  text-align: center;
  background-color: #27292c;
}
.contact__sub {
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  bottom: -100px;
}
.contact__sub img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact__wrapper {
  position: relative;
  max-width: 900px;
  z-index: 1;
}
.contact__title {
  font-size: 75px;
  font-weight: 700;
  padding-top: 240px;
  margin-bottom: 45px;
  line-height: 1;
}
.contact__subtitle {
  font-size: 30px;
  margin-bottom: 80px;
}
.contact__form {
  margin: 0 auto;
  max-width: 770px;
  padding-bottom: 220px;
  position: relative;
}
.contact__email {
  color: #54524f;
  font-size: 25px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 35px;
  padding: 15px 280px 15px 40px;
  width: 770px;
}
.contact__button {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: -3px;
  background-color: #54524f;
  border: 1px solid #54524f;
  border-radius: 33px;
  padding: 14px 30px;
}
.contact__button:hover,
.contact__button:active,
.contact__button:focus { opacity: .6; }

.footer { color: #343434; }
.footer__wrapper {
  max-width: 1280px;
  padding: 330px 8px;
}
.footer__cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer__1st-col {
  flex: 0 1 40%;
  padding: 0 20px 0 0;
  margin-right: 60px;
  margin-bottom: 10px;
}
.footer__1st-col a {
  color: inherit;
  display: block;
}
.footer__2nd-col {
  flex: 0 1 17%;
  margin-left: 60px;
}
.footer__2nd-col a {
  color: inherit;
  display: block;
  font-family: 'Montserrat';
  font-size: 24px;
  margin-bottom: 10px;
}
.footer__title {
  font-family: 'Montserrat';
  font-size: 32px;
  margin-bottom: 20px;
}
.footer__text {
  font-family: 'Montserrat';
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.2;
}
.footer__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__socials a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 17px;
}
.footer__socials a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1050px) {
  .top_nav_menu ul li { margin-left: 25px; }
  .top_nav_menu ul li a { letter-spacing: 1.2px; }
  .search_container { display: none; }
  .header__content { flex-wrap: wrap; }
  .header__left-cont, .header__right-cont { flex: 0 1 100%; }
  .header__right-cont { height: 90vw; }
  .header__hero-cont img { width: 100%; height: 100%; object-fit: contain; }
  .footer__wrapper { max-width: 1280px; padding: 40px 0; }
  .footer__cont { flex-wrap: wrap; }
  .footer__1st-col { flex: 0 1 25%; margin-right: 10px; }
  .footer__2nd-col { flex: 0 1 25%; margin-left: 10px; }
  .footer__text { margin-bottom: 20px; }
  .footer__socials { margin-bottom: 30px; }
}
@media (max-width: 992px) {
  .contact__title { font-size: 55px; padding-top: 40px; margin-bottom: 30px; }
  .contact__subtitle { margin-bottom: 30px; }
  .contact__form { padding-bottom: 40px; max-width: 500px; }
  .contact__email { padding: 15px 200px 15px 40px; width: 500px; }
}
@media (max-width: 688px) {
  .brown-button { padding: 10px 20px; }
  .top_nav_menu {
    position: fixed;
    top: 0;
    left: -100%;
    background: #27292c;
    width: 100%;
    height: 150%;
    z-index: 8;
    transition: .5s;
    overflow: auto;
  }
  .top_nav_menu ul li { margin-left: 0; }
  .top_nav_menu_active { left: 0; }
  .top_nav_ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 150px;
  }
  .top_nav_ul li {
    padding-bottom: 60px;
    margin: 0;
  }
  .header__slogan { font-size: 62px; margin-bottom: 30px; }
  .header__descr {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 2.61px;
  }
  .header__left-cont { margin-left: 25px; }
  .menu__title { margin: 30px 0; font-size: 62px; }
  .menu__subtitle { font-size: 21px; margin: 0 auto 30px; }
  .menu__cards, menu__button { margin-bottom: 30px; }
  .menu-card { max-width: 300px; margin: 10px; }
  .menu-card__img { width: 100%; height: 100%; margin-bottom: 15px; }
  .menu-card__title { font-size: 25px; }
  .menu-card__text { font-size: 21px; }
  .about__title { font-size: 62px; padding: 30px 0; }
  .about__cards { margin-bottom: 30px; }
  .about__card { flex: 0 1 90%; padding: 8px; }
  .about__button { margin-bottom: 30px; padding: 8px 30px; }
  .disc-card { padding: 20px 10px; flex-wrap: wrap; }
  .disc-card__bottom { flex-direction: column-reverse; }
  .disc-card__left, .disc-card__right { flex: 0 1 95%; }
  .disc-card__img { width: 90vw; height: 90vw; }
  .disc-card__title { font-size: 38px; }
  .disc-card__text { font-size: 21px; margin-bottom: 35px; }
  .pizza__title { font-size: 48px; padding-top: 30px; margin-bottom: 30px; }
  .pizza__subtitle { font-size: 21px; }
  .advantages__cards { padding: 50px 0; }
  .advantages__text, .advantages__subtext { margin-bottom: 30px; }
  .contact__form { max-width: 280px; }
  .contact__email {
    border-radius: 25px;
    padding: 9px 100px 9px 10px;
    width: 280px;
    font-size: 17px;
  }
  .contact__button {
    font-size: 17px;
    font-weight: 400;
    border-radius: 26px;
    padding: 9px 10px;
  }
  .footer__wrapper { padding: 8px; }
  .footer__1st-col { flex: 0 1 90%; margin-right: 0; }
  .footer__2nd-col { flex: 0 1 90%; margin-left: 0; margin-bottom: 20px; }
  .footer__2nd-col a { font-size: 21px; margin-bottom: 5px; }
  .footer__title { margin-bottom: 10px; }
  .footer__text { margin-bottom: 20px; }
  .footer__socials { margin-bottom: 30px; }
}

